body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url("/public/main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}